/* You can add global styles to this file, and also import other style files */

$Navy         : #0b2a00;
$LightNavy    : #224d11;
$LightestNavy : #3b5530;
$Slate        : #d0dcbd;
$LightSlate   : #a8d1ac;
$LightestSlate: #acfd9b;
$White        : #e6ffec;
$Green        : #48ff00;
$GreenOpacity : #317d13;

$MainFont: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
$CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;

:root {
    --navy: #{$Navy};
    --light-navy: #{$LightNavy};
    --lightest-navy: #{$LightestNavy};

    --slate: #{$Slate};
    --light-slate: #{$LightSlate};
    --lightest-slate: #{$LightestSlate};

    --white: #{$White};
    --green: #{$Green};
    --green-opacity: #{$GreenOpacity};

    --font-main: #{$MainFont};
    --font-code: #{$CodeFont};
}